<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<link rel="icon" href="../assets/logo.jpg">
	<title>寶品極智</title>
	<link rel='stylesheet' href='../../css/bootstrap.min.css'>
	<link rel="stylesheet" href="../../css/swiper-bundle.min.css" />
	<style type="text/css">
	html,
	body {
		height: 100%;

	}

	.swiper-pagination-bottom-progressbar {
		width: 100%;
		height: 4px;
		left: 0;
		bottom: 0;
		background: rgba(0, 0, 0, .25);
		position: absolute;
	}

	.swiper-pagination-bottom-progressbar .swiper-pagination-progressbar-fill {
		background: var(--swiper-pagination-color, var(--swiper-theme-color));
		position: absolute;
		left: 0;
		top: 0;
		width: 100%;
		height: 100%;
		transform: scale(0);
		transform-origin: left top;
	}
	</style>
</head>

<body>
	<div class="d-flex align-items-center h-100">
		<!-- 滿版 -->
		<div class="container-fluid">
			<!-- Slider main container -->
			<div id="mySwiper" class="swiper-container">
				<!-- Additional required wrapper -->
				<div class="swiper-wrapper">
					<div class="swiper-slide">
						<img src="../assets/2/gold1.PNG" class="w-100 d-block" alt="...">
					</div>
					<div class="swiper-slide">
						<img src="../assets/2/gold2.PNG" class="w-100 d-block" alt="...">
					</div>
					<div class="swiper-slide">
						<img src="../assets/2/gold3.PNG" class="w-100 d-block" alt="...">
					</div>
					<div class="swiper-slide">
						<img src="../assets/2/gold4.PNG" class="w-100 d-block" alt="...">
					</div>
					<div class="swiper-slide">
						<img src="../assets/2/gold5.jpg" class="w-100 d-block" alt="...">
					</div>
					<div class="swiper-slide">
						<img src="../assets/2/gold6.PNG" class="w-100 d-block" alt="...">
					</div>
					<div class="swiper-slide">
						<img src="../assets/2/gold7.PNG" class="w-100 d-block" alt="...">
					</div>
					<div class="swiper-slide">
						<img src="../assets/2/gold8.PNG" class="w-100 d-block" alt="...">
					</div>
				</div>
				<div class="bottom-0 swiper-pagination"></div>
				<div class="swiper-button-prev swiper-button-hidden swiper-navigation"></div>
				<div class="swiper-button-next swiper-button-hidden swiper-navigation"></div>
			</div>
		</div>
	</div>
	<a id="homeButton" class="btn position-fixed home" style="color:green; right:50px;bottom: 50px; font-size:50px; z-index:2 " href="../../index.html" role="button">
		<i class="fas fa-home"></i>
	</a>
	<script src="https://kit.fontawesome.com/f1d6edd364.js"></script>
	<script src="../../js/jquery-3.6.0.min.js"></script>
	<script src="../../js/swiper-bundle.min.js"></script>
	<script>
	const navigationButtons = Array.from(document.getElementsByClassName('swiper-navigation'))
	const homeButton = document.getElementById("homeButton");
	const swiper = new Swiper('#mySwiper', {
		pagination: {
			el: '.swiper-pagination',
			type: 'progressbar',
			modifierClass: 'swiper-pagination-bottom-', //取代原本的class
		},
		navigation: {
			nextEl: '.swiper-button-next',
			prevEl: '.swiper-button-prev',
		},
		mousewheel: true,
		on: {
			beforeInit() {
				//隱藏前arrow
				navigationButtons[0].style.display = 'none';
			},
			slideChange() {
				if (swiper.isEnd) { //最後一頁
					// 最後一頁首頁按鈕呈現藍色
					homeButton.style.color = 'blue';
					// 隱藏後按鈕
					navigationButtons[1].style.display = 'none';
				} else if (swiper.isBeginning) { //	轉到第一頁
					// 隱藏前按鈕
					navigationButtons[0].style.display = 'none';
				} else { //	其他頁
					// 顯示arrow
					navigationButtons.forEach(arrow => { arrow.style.display = 'block'; });
					homeButton.style.display = 'block';
					homeButton.style.color = 'green';
				};
			},
		},
	})
	window.addEventListener("keydown", function(e) {
		switch (e.key) {
			case "Right":
			case "ArrowRight": // 右方向鍵
				if (swiper.isEnd) {
					document.location = "3.html";
				}
				swiper.slideNext();
				break;
			case "Left":
			case "ArrowLeft": //左方向鍵
				swiper.slidePrev()
				break;
			case "Esc": // IE/Edge specific value
			case "Escape":
				console.log('esc');
				document.location = "../../index.html";
				break;
			default:
				return; // 離開當沒有任何事件要處理
		}

	}, true);
	</script>
</body>

</html>