<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<link rel="icon" href="../assets/logo.jpg">
	<title>寶品極智</title>
	<link rel='stylesheet' href='../../css/bootstrap.min.css'>
	<script src="../../js/bootstrap.bundle.min.js"></script>
	<style type="text/css">
	html,
	body {
		height: 100%;
	}
	.font-weight-bolder {
						font-weight: bolder!important;
		}
	</style>
	
</head>

<body>
	<div class="d-flex align-items-center h-100">
		<div class="container-fluid">
			<div id="myCarousel" class="carousel carousel-dark slide " data-bs-ride="carousel" data-bs-interval="false" data-bs-wrap="false">
				<div class="carousel-inner">
					<div class="carousel-item active">
						<div class="row">
							<div class="col-md-2 flex-column d-flex">
							
								<h1 class="pt-5 pt-5 p-2 display-3 font-weight-bolder text-center">精<br>質<br>雕<br>琢<br>工</h1>
								<div class="mt-auto">
									<img src="../assets/logo.jpg" class="w-100 d-block" alt="...">
								</div>
							</div>
							<div class="col-md-10 text-center">
																<video id="video3" class="w-100 h-100" controls style="background-color: black;" loop="true" autoplay="autoplay"  muted="true">
																		<source src="../assets/5/work1.wmv" type="video/mp4">
																		Your browser does not support the video tag.
																</video>
														</div>
						</div>
					</div>
					<div class="carousel-item">
						<div class="row">
							<div class="col-md-2 flex-column d-flex">
							
								<h1 class="pt-5 p-2 display-3 font-weight-bolder text-center">精<br>質<br>雕<br>琢<br>工</h1>
								<div class="mt-auto">
									<img src="../assets/logo.jpg" class="w-100 d-block" alt="...">
								</div>
							</div>
							<div class="col-md-10 text-center">
																<video id="video3" class="w-100 h-100" controls style="background-color: black;" loop="true" autoplay="autoplay"  muted="true">
																		<source src="../assets/5/work2.wmv" type="video/mp4">
																		Your browser does not support the video tag.
																</video>
														</div>
						</div>
					</div>
					<div class="carousel-item">
						<div class="row">
							<div class="col-md-2 flex-column d-flex">
							
								<h1 class="pt-5 p-2 display-3 font-weight-bolder text-center">精<br>質<br>雕<br>琢<br>工</h1>
								<div class="mt-auto">
									<img src="../assets/logo.jpg" class="w-100 d-block" alt="...">
								</div>
							</div>
							<div class="col-md-10 text-center">
																<video id="video3" class="w-100 h-100" controls style="background-color: black;" loop="true" autoplay="autoplay"  muted="true">
																		<source src="../assets/5/work3.wmv" type="video/mp4">
																		Your browser does not support the video tag.
																</video>
														</div>
						</div>
					</div>
					<div class="carousel-item">
						<div class="row">
							<div class="col-md-2 flex-column d-flex">
							
								<h1 class="pt-5 p-2 display-3 font-weight-bolder text-center">精<br>質<br>雕<br>琢<br>工</h1>
								<div class="mt-auto">
									<img src="../assets/logo.jpg" class="w-100 d-block" alt="...">
								</div>
							</div>
							<div class="col-md-10 text-center">
								<img src="../assets/5/work4.jpg" class="w-100 h-100" alt="...">
														</div>
						</div>
					</div>
					<div class="carousel-item">
						<div class="row">
							<div class="col-md-2 flex-column d-flex">
							
								<h1 class="pt-5 p-2 display-3 font-weight-bolder text-center">精<br>質<br>雕<br>琢<br>工</h1>
								<div class="mt-auto">
									<img src="../assets/logo.jpg" class="w-100 d-block" alt="...">
								</div>
							</div>
							<div class="col-md-10 text-center">
																<video id="video3" class="w-100 h-100" controls style="background-color: black;" loop="true" autoplay="autoplay"  muted="true">
																		<source src="../assets/5/work5.mp4" type="video/mp4">
																		Your browser does not support the video tag.
																</video>
														</div>
						</div>
					</div>
					<div class="carousel-item">
						<div class="row">
							<div class="col-md-2 flex-column d-flex">
							
								<h1 class="pt-5 p-2 display-3 font-weight-bolder text-center">精<br>質<br>雕<br>琢<br>工</h1>
								<div class="mt-auto">
									<img src="../assets/logo.jpg" class="w-100 d-block" alt="...">
								</div>
							</div>
							<div class="col-md-10 text-center">
								<img src="../assets/5/work6.jpg" class="w-100 h-100" alt="...">
														</div>
						</div>
					</div>
					<div class="carousel-item">
						<div class="row">
							<div class="col-md-2 flex-column d-flex">
							
								<h1 class="pt-5 p-2 display-3 font-weight-bolder text-center">精<br>質<br>雕<br>琢<br>工</h1>
								<div class="mt-auto">
									<img src="../assets/logo.jpg" class="w-100 d-block" alt="...">
								</div>
							</div>
							<div class="col-md-10 text-center">
																<video id="video3" class="w-100 h-100" controls style="background-color: black;" loop="true" autoplay="autoplay"  muted="true">
																		<source src="../assets/5/work7.mp4" type="video/mp4">
																		Your browser does not support the video tag.
																</video>
														</div>
						</div>
					</div>
					<div class="carousel-item">
						<div class="row">
							<div class="col-md-2 flex-column d-flex">
							
								<h1 class="pt-5 p-2 display-3 font-weight-bolder text-center">精<br>質<br>雕<br>琢<br>工</h1>
								<div class="mt-auto">
									<img src="../assets/logo.jpg" class="w-100 d-block" alt="...">
								</div>
							</div>
							<div class="col-md-10 text-center">
																<video id="video3" class="w-100 h-100" controls style="background-color: black;" loop="true" autoplay="autoplay"  muted="true">
																		<source src="../assets/5/work8.mp4" type="video/mp4">
																		Your browser does not support the video tag.
																</video>
														</div>
						</div>
					</div>
				</div>
				<button class="carousel-control-prev" type="button" data-bs-target="#myCarousel" data-bs-slide="prev">
					<span class="carousel-control-prev-icon" aria-hidden="true"></span>
					<span class="visually-hidden">Previous</span>
				</button>
				<button class="carousel-control-next" type="button" data-bs-target="#myCarousel" data-bs-slide="next">
					<span class="carousel-control-next-icon" aria-hidden="true"></span>
					<span class="visually-hidden">Next</span>
				</button>
			</div>
		</div>
	</div>
	<a class="btn position-fixed home" style="right:50px;bottom: 50px; font-size:50px;" href="../../index.html" role="button"><i class="fas fa-home"></i></a>
	<script src="https://kit.fontawesome.com/f1d6edd364.js"></script>
	<script src="../../js/jquery-3.6.0.min.js"></script>
	<script>
	let count = 0;
	$(document).keydown(function(e) {
		if (e.which == '39') { //右鍵
			$(".carousel-control-next").focus();
		}
	});
	</script>
</body>

</html>