<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<link rel="icon" href="../assets/logo.jpg">
	<title>寶品極智</title>
	<link rel='stylesheet' href='../../css/bootstrap.min.css'>
	<script src="../../js/bootstrap.bundle.min.js"></script>
	<style type="text/css">
	html,
	body {
		height: 100%;
	}
	</style>
	
</head>

<body>
	<div class="d-flex align-items-center h-100">
		<div class="container-fluid">
			<div id="myCarousel" class="carousel carousel-dark slide " data-bs-ride="carousel" data-bs-interval="false" data-bs-wrap="false">
				<div class="carousel-inner">
					<div class="carousel-item active">
						<img src="../assets/6/equip1.PNG" class="w-100 d-block" alt="...">
					</div>
					<div class="carousel-item">
						<img src="../assets/6/equip2.PNG" class="w-100 d-block" alt="...">
					</div>
					<div class="carousel-item">
						<img src="../assets/6/equip3.PNG" class="w-100 d-block" alt="...">
					</div>
					<div class="carousel-item">
						<img src="../assets/6/equip4.PNG" class="w-100 d-block" alt="...">
					</div>
					<div class="carousel-item">
						<img src="../assets/6/equip5.PNG" class="w-100 d-block" alt="...">
					</div>
					<div class="carousel-item">
						<img src="../assets/6/equip6.PNG" class="w-100 d-block" alt="...">
					</div>
					<div class="carousel-item">
						<img src="../assets/6/equip7.PNG" class="w-100 d-block" alt="...">
					</div>
					<div class="carousel-item">
						<img src="../assets/6/equip8.PNG" class="w-100 d-block" alt="...">
					</div>
					<div class="carousel-item">
						<img src="../assets/6/equip9.PNG" class="w-100 d-block" alt="...">
					</div>
					<div class="carousel-item">
						<img src="../assets/6/equip10.PNG" class="w-100 d-block" alt="...">
					</div>
					<div class="carousel-item">
						<img src="../assets/6/equip11.PNG" class="w-100 d-block" alt="...">
					</div>
				</div>
				<button class="carousel-control-prev" type="button" data-bs-target="#myCarousel" data-bs-slide="prev">
					<span class="carousel-control-prev-icon" aria-hidden="true"></span>
					<span class="visually-hidden">Previous</span>
				</button>
				<button class="carousel-control-next py-5 my-5" type="button" data-bs-target="#myCarousel" data-bs-slide="next">
					<span class="carousel-control-next-icon" aria-hidden="true"></span>
					<span class="visually-hidden">Next</span>
				</button>
			</div>
		</div>
	</div>
	<a class="btn position-fixed home" style="right:50px;bottom: 50px; font-size:50px;" href="../../index.html" role="button"><i class="fas fa-home"></i></a>
	<script src="https://kit.fontawesome.com/f1d6edd364.js"></script>
	<script src="../../js/jquery-3.6.0.min.js"></script>
	<script>
	let count = 0;
	$(document).keydown(function(e) {
		if (e.which == '39') { //右鍵
			$(".carousel-control-next").focus();
		}
	});
	</script>
</body>

</html>